


<app-menu-title></app-menu-title>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card id="1" photoCover="https://wallpapers.com/images/hd/dragon-ball-super-pictures-6s9gnffpcvuar9c4.jpg" 
        cardTitle="New goku 3d" 
        cardDescription="Goku new super sayajin">
    </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        id="2"
            photoCover="https://cdn.ome.lt/CkyLpJgXdQ2Up9A-aHVfe3534WQ=/570x0/smart/uploads/conteudo/fotos/dragonballsuper_wSPwHX0.jpg" cardTitle="Novo anime Dragon Ball">
        </app-small-card>

        <app-small-card
        id="3"
            photoCover="https://wallpapers.com/images/hd/dragon-ball-pictures-8qqybb74n0132u2u.jpg" cardTitle="Novo anime Dragon Ball">
        </app-small-card>

        <app-small-card
        id="4"
            photoCover="https://static.bandainamcoent.eu/high/dragon-ball/dragon-ball-sparking-zero/00-page-setup/Page-Setup-Revamp/DBSZ_thumbnail.jpg" cardTitle="Novo anime Dragon Ball">
     </app-small-card>
    </div>
</div>